//------------------------------------------------------------------ TEXT
// text color
$text: #595959;

// text body size
$body-size: 14px;



//--------------------------------------------------------------- COLORS
// page background color
$background: #f9fafb;

// border color
$border: #c6c8cd;

// light border color
$light-border: #f2f2f2;

// primary button color
$primary: #6ae1c4;


// main blue used across interface
$blue: #3273dc;



//------------------------------------------------------------------ BOX
// shadow for box
$box-shadow: 0 2px 8px rgba(0,0,0, 0.05), 0 0 0 1px rgba(0,0,0, 0.05);

// radius of box
$box-radius: 4px;



//----------------------------------------------------------------- CARD
// shadow for card
$card-shadow: 0 2px 10px rgba(0,0,0, 0.02), 0 0 0 1px rgba(0,0,0, 0.02);



//---------------------------------------------------------------- PANEL
// shadow for panel
$panel-shadow: 0 2px 10px rgba(0,0,0, 0.02), 0 0 0 1px rgba(0,0,0, 0.02);

// border for panel
$panel-item-border: 1px solid rgba(0,0,0, 0.05);