#add-page {
    
    margin-top: 3.25rem;
    
    h2 {

        margin-bottom: 2em;
    }

    .box:first-child {
        margin-top: 1em;
    }
    .box:hover {
        cursor: pointer;
    }

    .card {
        margin: 3em auto;
        max-width: 20em;
        border-radius: 1em;
        overflow: hidden;
    }

    #subcategory-view, #input-selector-view, #map-selector-view {
        padding: 2em;
        text-align:  center;
        .button {
            width: 20em;
        }
    }


}