

$background: #f9fafb;

html, body {
    background: #f9fafb;
}

#add-page {
    
    h1 {
        margin-top: 0.5em;
    }
    h2 {
        margin-bottom: 2em;
    }

    .box:first-child {
        margin-top: 1em;
    }
    .box:hover {
        cursor: pointer;
    }

    .card {
        margin: 0em auto 1em;
        max-width: 22em;
        border-radius: 1em;
        overflow: hidden;

        p {
            padding: 2em;
            font-size: small;
            font-weight: normal;
        }

    }

    .page-content {
        ul a .icon {
            float: right;
            margin-top: -0.75em;   
            margin-right: 0px;     
        }
    }

    .button {
        max-width: 14em;
    }


    .action-panel {
        text-align: center;
        margin-top: 2em;   
    }
    
    #report-view {

        h1 {
            margin-top: 1em;
        }

        overflow-y: scroll;


    }


    #subcategory-view, #input-selector-view, #map-selector-view {
        .button {
            width: 20em;
        }
    }

    #input-selector-view {
        padding: 1em;
    }

    #map-selector-view {
        padding: 0em 2em;
        input {
            margin: 2em auto;
            max-width: 19em;
        }

    }
    #success-view {
        background: $background;
        padding: 3em;
        text-align: center;
        .button {
            margin-top: 3em;    
            .icon {margin-left: 0.75em;}
        }
    }
}