#add-page {
    


    h2 {
        margin-bottom: 1em;
    }

    .box:first-child {
        margin-top: 1em;
    }
    .box:hover {
        cursor: pointer;
    }

    .card {
        margin: 0em auto 1em;
        max-width: 22em;
        border-radius: 1em;
        overflow: hidden;

        p {
            padding: 2em;
            font-size: small;
            font-weight: normal;
        }

    }

    .button {
        max-width: 14em;
    }

    #report-view {
        h1 {
            margin-top: 1em;
        }

        overflow-y: scroll;

        .action-panel {
            margin: 2em;
            text-align: center;
        }

    }


    #subcategory-view, #input-selector-view, #map-selector-view {
        padding: 0em 1em;
        text-align:  center;
        .button {
            width: 20em;
        }
    }

    #map-selector-view {
        input {
            margin: 2em auto;
            max-width: 19em;
        }
    }
    #success-view {
        padding: 3em;
        text-align: center;
        .button {
            margin-top: 3em;
        }
    }
}