---
id: "add"
---

extends ../_layouts/_master.pug

block content
    div(v-cloak)


        // report view
        #report-view(v-if="show_report")
            h1 Help Us Map Your Region
            h2 What to report?
            ul
                li(v-for="category in marker_categories" @click="handleMarkerCategory(category)")
                    span {{ category.title }}
                    span.icon.is-large
                        i.fas.fa-angle-right
         

        #subcategory-view(v-if="show_subcategory_selector")
            h1 {{ category.title }}
            h2 Pick Best Description
            ul
                li(v-for="sc in subcategories" @click="handleShowInputSelector(sc)" v-bind:id="sc._id") 
                
                    span {{sc.title}}

                    span.icon.is-large
                        i.fas.fa-angle-right



        #marker-selector-view(v-if="show_marker_selector")
            h1 {{ category.title }}
            h2 Select Closest Venue
            ul
                li(v-for="marker in m_docs" v-bind:id="marker._id" @click="handleSelectMarkerForItem(marker)" v-if="marker.title") 
                    span {{ marker.title }}
                    span.icon.is-large
                        i.fas.fa-angle-right

        #input-selector-view(v-if="show_input_selector")
            h1 Select Condition Coverage
            ul
                li.box(@click="presentAddressForm") An Address
                li.box(@click="presentAreaForm") An Area
                li.box(@click="presentLineForm") A Line


        #map-selector-view(v-if="show_map_selector")

      
            div(v-if="map_loaded && !lock_doc")
                h1(v-if="area_radius") Drag Pin And Adjust Radius
                h1(v-if="!area_radius") Drag Pin
            div(v-if="map_loaded &&  lock_doc")
                h1 Preview
            div(v-if="!map_loaded")
                h1 Loading Map&hellip;
            .card 
                #map

                p(v-if="lock_doc && lantern_connected") This is a preview of your report. If you choose to submit, it will be added to a shared map for people near you to see and verify.


                p(v-if="lock_doc && !lantern_connected") This is a preview of your report. Since you are offline, your report will be automatically shared once you reconnect to a Lantern or the internet.


                input.slider.is-fullwidth(v-if="map_loaded && !lock_doc && area_radius > 0" step="5" min="1" max="5000" v-model="area_radius" type="range")

            .action-panel(v-if="map_loaded")
                .button.is-primary(v-if="!lock_doc" @click="handleButtonPush") Next
                .button.is-primary(v-if="lock_doc & lantern_connected" @click="handleButtonPush") Send Now
                .button.is-primary(v-if="lock_doc & !lantern_connected" @click="handleButtonPush") Send When Possible

        #success-view(v-if="show_success")

            span.icon.is-large
                i.fas.fa-check-circle.fa-3x
            h1 Thank you!
            p(v-if="lantern_connected") Your contribution was successfully saved to the map.
            p(v-if="!lantern_connected") Your contribution was saved and will be shared with others as soon as we have a network connection.
            .action-panel
                .button(@click="handleReturnToMap") 
                    span Return to Map
                    span.icon.is-small
                        i.fas.fa-arrow-right

block styles
    link(rel="stylesheet" type="text/css" href="/lib/map.css")
    link(rel="stylesheet" type="text/css" href="/add/add.css")

block scripts
    script(src="/lib/map.js")
    script(src="/add/add.js")
