---
id: "add"
---

extends ../../_layouts/_master.pug

block content
    div(v-cloak)


        // report view
        #report-view(v-if="view == 'report'")
            h1 Help Us Map Your Region
            h2 What to report?
            ul.menu
                li(v-for="category in venue_categories" @click="handleVenueCategory(category)" v-bind:id="category._id")
                    span {{ category.title }}
                    span.icon.is-large
                        i.fas.fa-angle-right
         

        #subcategory-view(v-if="view == 'subcategory'")
            h1 {{ category.title }}
            h2 Pick Best Description
            ul.menu
                li(v-for="sc in subcategories" @click="handleShowInputSelector(sc)" v-bind:id="sc._id") 
                
                    span {{sc.title}}

                    span.icon.is-large
                        i.fas.fa-angle-right


        #input-selector-view(v-if="view == 'input'")
            ul
                li.box(@click="presentAddressForm") 

                    span.icon.is-large
                        i.fas.fa-map-pin
                    | Address

                li.box(@click="presentLineForm") 

                    span.icon.is-large
                        i.fas.fa-road
                    | Road

                li.box(@click="presentAreaForm") 

                    span.icon.is-large
                        i.fas.fa-circle
                    | Area

        #map-selector-view(v-if="view == 'map'")

      
            div(v-if="map_loaded && !lock_doc")
                h1(v-if="area_radius") Drag Pin And Adjust Radius
                h1(v-if="!area_radius") Drag Pin
            div(v-if="map_loaded &&  lock_doc")
                h1 Preview
            div(v-if="!map_loaded")
                h1 Loading Map&hellip;
            .card 
                #map

                p(v-if="lock_doc && lantern_connected") This is a preview of your report. If you choose to submit, it will be added to a shared map for people near you to see and verify.


                p(v-if="lock_doc && !lantern_connected") This is a preview of your report. Since you are offline, your report will be automatically shared once you reconnect to a Lantern or the internet.


                input.slider.is-fullwidth(v-if="map_loaded && !lock_doc && area_radius > 0" step="5" min="1" max="5000" v-model="area_radius" type="range")

            .action-panel(v-if="map_loaded")
                .button.is-primary(v-if="!lock_doc" @click="handleButtonPush") Next
                .button.is-primary(v-if="lock_doc & lantern_connected" @click="handleButtonPush") Send Now
                .button.is-primary(v-if="lock_doc & !lantern_connected" @click="handleButtonPush") Send When Possible

        #success-view(v-if="view == 'success'")

            span.icon.is-large
                i.fas.fa-check-circle.fa-3x
            h1 Thank you!
            p(v-if="lantern_connected || cloud_connected") Your contribution was successfully saved to the map. Next, others on the network will be asked to verify the accuracy of this data.
            p(v-if="!lantern_connected && !cloud_connected") Your contribution was saved and will be shared with others as soon as we have a network connection.
            .action-panel
                .button(@click="handleReturnToMap") 
                    span Continue
                    span.icon.is-small
                        i.fas.fa-arrow-right

block styles
    link(rel="stylesheet" type="text/css" href="/lib/map.css")
    link(rel="stylesheet" type="text/css" href="./index.css")

block scripts
    script(src="/lib/map.js")
    script(src="./index.js")
