@import "platform/variables";

html, body {
    background: #f9fafb;
}

#add-page {
    
    h1 {
        margin-bottom: 1em;
    }

    h2 {
        margin-bottom: 2em;
    }

    .box:first-child {
        margin-top: 1em;
    }
    .box:hover {
        cursor: pointer;
    }

    .card {
        #map {

            min-height: 15em;
        }

        margin: 0em auto 1em;
        width: 100%;
        border-radius: 0.5em;
        overflow: hidden;

        p {
            padding: 1em;
            font-size: small;
            font-weight: normal;
        }

    }

    .button {
        max-width: 14em;
    }


    .action-panel {
        text-align: center;
        margin-top: 2em;   
    }

    #report-view, #subcategory-view, #map-selector-view {
        padding-top: 1em;
    }


    #subcategory-view, #input-selector-view, #map-selector-view {
        .button {
            width: 20em;
        }
    }

    #input-selector-view {
        padding: 1em;
    }

    #map-selector-view {
        padding: 2em;
        .card-content {
            text-align: center;
            font-size: small;
        }

    }
    #success-view {
        background: $background;
        padding: 3em;
        text-align: center;
        .button {
            margin-top: 3em;    
            .icon {margin-left: 0.75em;}
        }
    }
}