$text: #595959;
$body-size: 14px;
@import "bulma/sass/utilities/_all";
@import "bulma/sass/base/_all";

:root {
  --stencil-color: #EEE;
}

[v-cloak] {
     display: none;
}

body {
    text-align: center;
    font-family: "montserrat",sans-serif;
    letter-spacing: 0.06em;
}

h1, h2 {
    text-transform: uppercase;
}

h1 {
    font-weight: bold;
    padding: #{$body-line-height/2}em;
}

section {
    padding: #{$body-line-height}em;
}
