@import "bulma/sass/utilities/_all";
@import "bulma/sass/base/_all";

:root {
  --stencil-color: #EEE;
}

[v-cloak] {
     display: none;
}

body {
    text-align: center;
}

img {
    max-height: 100px;
}

section {
    padding: 2em;
    margin: 2em auto;
    max-width: 320px;
    border: 1px solid var(--stencil-color);
}