@import "bulma/sass/utilities/_all";
@import "bulma/sass/base/_all";

:root {
  --stencil-color: #EEE;
}

[v-cloak] {
     display: none;
}

body {
    text-align: center;
}

img {
    max-height: 100px;
}

#default-view section {
    padding: 2em;
    margin: 2em auto;
    width: 320px;
    border: 1px solid var(--stencil-color);
}

#map-view {
    #canvas { border-right: 1px dotted #aaa; border-bottom: 1px dotted #aaa;}
    #canvas.hover { background: #cfc; }

    button { font-size: 16px; background: white; border: 1px solid #ccc;
        position: absolute; top: 5px; left: 5px;}
    button:hover { border-color: black; }
}