
$background: #f9fafb;
$border: #c6c8cd;

$light-border: #f2f2f2;
body {
    background: none;
}


.page-content {

    overflow: hidden;
}

#checkin-page {    
    background: rgba(255,255,255,0.8);
    background: none;
    padding: 1em;
    
    label {
        text-align: left;
    }

    .panel {
        margin: 1.5em;
        margin-top: 1em;
    }

    .buttons {
        display: block;
        text-align: center;
    }

    .waiting {
        
        font-weight: bold;
        margin-top: 2em;
        margin-bottom: 1em;
    }

    .confirmations {
        font-size: large;
        span {
            font-weight: bold;
        }
        border-radius: 3px;
        padding: 0.2em;
    }

    .confirmations.is-loading {
        background: #FCFCFC;
    }


    #success-view {
        border: 1px solid $light-border;
        background: rgba(255,255,255,0.8);
        border-radius: 8px;
        padding: 3em;
        text-align: center;
        .button {
            margin-top: 3em;    
            .icon {margin-left: 0.75em;}
        }
    }


    #map-cover, #map {
        background: rgba(255,255,255,0.8);
        height: 100%;
        width: 100%;
        position: fixed !important;
        top: 0;
        left: 0;
        z-index: -5;
    }

    #map-cover {
        z-index: -2;
    }

}