
:root {
  --stencil-color: #EEE;
}

#list {
    margin-top: 100px;
}
#categories li {
    font-weight: bold;
    float: left;
    overflow: hidden;
    margin: 0.5em;
    padding: 6px;
}

#categories li:hover {
    cursor: pointer;
}

#categories li.active {
    padding: 4px;
    border: 2px solid #000;
}

#map {
    height: 100px;
    background: #ECECEC;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}