---
id: "browse"
---

extends ../../_layouts/_master.pug

block content
    #browse-app(v-cloak)
        section
            h1 What do you need most today?
            h2(v-if="u_docs.length > 2") {{ u_docs.length-1 }} Listening

        section
            ul#categories.is-clearfix
                li(
                    v-for="r in c_docs" 
                    v-on:click="toggleCategory" 
                    v-bind:class="makeCategoryClass(r)"
                    v-bind:id="r._id" 
                    v-bind:style="makeCategoryStyle(r)"
                    )="{{ r.name }}"

        section

            ul#venues
                li.box(v-for="r in v_docs")="{{ r.name }}"



        section

            ul#supplies
                li.box(v-for="r in s_docs")
                    span(v-bind:style="makeCategoryStyle(r.category)")= "{{ r.category }}"
                    span= " {{ r.count }} {{ r.name }}"

block styles
    link(rel="stylesheet" type="text/css" href="/p/browse/browse.css")

block scripts
    script(src="/p/browse/browse.js")
