---
id: "detail"
---

extends ../_layouts/_master.pug

block content

    div(v-cloak)

        #inspector-view(v-if="show_inspector")

            h3 {{ getCategory(selected_item.category).title }} Verifications

            div(v-if="selected_item.status && selected_item.vote")


                h4.time Last vote {{ moment(moment(selected_item.updated_at)).short(true) }} ago


                .tags-container
                    a.tags.has-addons(v-for="row in selected_item.vote" v-if="row.votes > 0") 
                     
                        span.tag.is-primary
                            .icon
                                i.fas.fa-thumbs-up
                            | {{ row.votes }}
                        span.tag  {{ row.title }}

            div.unavailable(v-if="!selected_item.vote")
                p Nobody has verified this report just yet. Please check back soon.
            div.unavailable(v-if="selected_item.status == 0")
                p Sorry, this item has been reported unavailable. Please check back soon.
                
        #map-prompt(v-if="!show_inspector && !show_map" @click="handleShowMap")
            span.icon
                i.fas.fa-map
            span Show Map


        #map(v-bind:style="'display:'  + (show_map ? 'block' : 'none')")

        div(v-cloak v-if="!page_loading")
            .box(v-for="item in i_docs" v-if="item.parent == marker._id" v-bind:data-id="item._id" v-bind:style="makeItemStyle(item)" @click="handleSelectItem(item)")

               
                span.status(v-if="item.status")
                    .tags
                        .tag 
                            .icon
                                i.fas.fa-thumbs-up
                            | {{ countVotes(item) }}

                span.icon.is-large(v-bind:style="makeCategoryStyle(getCategory(item.category))") 
                    i(v-bind:class="makeCategoryIconClass(getCategory(item.category))")

                p {{ getCategory(item.category).title }} 

                span.time(v-if="item.status") Available {{ moment(moment(item.updated_at)).short(true) }} ago
                span.time(v-if="item.status == 0") Unavailable {{ moment(moment(item.updated_at)).short(true) }} ago

block styles
    link(rel="stylesheet" type="text/css" href="/lib/map.css")
    link(rel="stylesheet" type="text/css" href="/detail/detail.css")

block scripts
    script(src="/lib/map.js")
    script(src="/detail/detail.js")
