---
id: "detail"
---

extends ../_layouts/_master.pug

block content
    div(v-cloak)

        #inspector-view(v-if="show_inspector")

            h3 {{ getCategory(selected_item.category).title }} Verifications
            ul(v-for="row in selected_item.vote" v-if="row.votes > 0")
                li(v-bind:id="row.slug")
                    .tags
                        .tag 
                            | {{ row.votes }}

                    | {{ row.title }}
                    

            .buttons
                .button( @click="clearSelectItem") Close
            
        #map-prompt(v-if="!show_inspector && !show_map" @click="handleShowMap")
            span.icon
                i.fas.fa-map
            span Show Map


        #map(v-bind:style="'display:'  + (!show_inspector && show_map ? 'block' : 'none')")

        div(v-cloak v-if="!page_loading")
            .box(v-for="item in i_docs" v-if="item.parent == marker._id" v-bind:data-id="item._id" v-bind:style="makeItemStyle(item)" @click="handleSelectItem(item)")

               
                span.status 
                    .tags
                        .tag 
                            .icon
                                i.fas.fa-thumbs-up
                            | {{ countVotes(item) }}

                span.icon.is-large(v-bind:style="makeCategoryStyle(getCategory(item.category))") 
                    i(v-bind:class="makeCategoryIconClass(getCategory(item.category))")

                p {{ getCategory(item.category).title }} 
                span.time {{ moment(moment(marker.updated_at)).short(true) }} ago


block styles
    link(rel="stylesheet" type="text/css" href="/lib/map.css")
    link(rel="stylesheet" type="text/css" href="/detail/detail.css")

block scripts
    script(src="/lib/map.js")
    script(src="/detail/detail.js")
