$background: #f9fafb;


#detail-page {

    #map-prompt {
        background: #FFF;
        border-bottom: 1px solid #EEE;
        color: #3273dc;
        padding: 1em;
        text-align: center;
    }

    #map-prompt:hover {
        background: $background;
        cursor: pointer;
    }

    .box {
        min-height: 7em;
        margin: 1em;
        .icon {
            border-radius: 4em;
            font-weight: bold;
            width: 4em;
            height: 4em;
            text-align: center;
            i {
                margin: auto;
            }
            margin-right: 1em;
            float: left
        }

        border: 0px solid;
    }

    .box:hover {
        cursor: pointer;
    }
}