#detail-page {
    .box {
        min-height: 7em;
        margin: 1em;
        .icon {
            border-radius: 4em;
            font-weight: bold;
            width: 4em;
            height: 4em;
            text-align: center;
            i {
                margin: auto;
            }
            margin-right: 1em;
            float: left
        }

        border: 0px solid;
    }

    .box:hover {
        cursor: pointer;
    }
}