$background: #f9fafb;
$light-border: #f2f2f2;
$border: #c6c8cd;

$light-border: #f2f2f2;

#detail-page {

    .tags .tag {
        font-size: 12px;
    }

    #map-prompt {
        background: #FFF;
        border-bottom: 1px solid #EEE;
        color: #3273dc;
        padding: 1em;
        text-align: center;
    }
    #inspector-view {
        height: 200px;
        width: 100%;
        z-index: 10001;
        overflow-y: hidden;
        position: fixed;
        border-top: 1px solid $light-border;
        top: 3.8rem;
        left: 0;
        padding: 1em;

        h3 {
            font-weight: bold;
            text-align: center;
            margin-bottom: 1em;
        }

        .tags {
            float: left;
            margin-right: 0.4em;
            margin-top: 0.4em;
            margin-bottom: 0;

            .is-primary {
                padding-left: 1.25em;
            }
        }
        background: rgba(255,255,255,0.95);
        border-bottom: 1px solid $border;

        .buttons {
            display: block;
            text-align: center;
            padding: 0.5em;
            position: fixed;

            top: 200px;
            width: 100%;
        }
    }



    #map-prompt:hover {
        background: $background;
        cursor: pointer;
    }

    .box {
        margin: 1em;
        padding: 0.5em 0.75em;

        .icon {
            border-radius: 4em;
            font-weight: bold;
            width: 3em;
            height: 3em;
            text-align: center;
            i {
                margin: auto;
            }
            margin-right: 1em;
            float: left
        }
        .time {
            font-size: small;
            color: #c6c8cd;
        }
        .status {
            float: right;
            padding: 0.6em;
        }
        border: 0px solid;
    }

    .box:hover {
        cursor: pointer;
    }

    #status {
        background: #FFF;
        padding: 1em;
        border-bottom: 1px solid $border;
        border-top: 1px solid $border;
    }
}