---
id: "detail"
---

extends ../_layouts/_master.pug

block content
    div(v-cloak)
        h1 {{ marker.title }}
        .box(v-for="item in i_docs" v-if="item.parent == marker._id" v-bind:data-id="item._id")
            .category(v-bind:style="makeCategoryStyle(item.category)") {{ getCategoryName(item)[0] }}
            p {{ getCategoryName(item) }}
            p {{ moment(moment(marker.updated_at)).short(true) }} ago

block styles
    link(rel="stylesheet" type="text/css" href="/lib/map.css")
    link(rel="stylesheet" type="text/css" href="/detail/detail.css")

block scripts
    script(src="/lib/map.js")
    script(src="/detail/detail.js")
