---
id: "detail"
---

extends ../../_layouts/_master.pug

block content


    #report-view(v-if="show_input" v-cloak)
        ul.menu
            li(v-for="row in item_types" @click="handleAddItemType(row)" v-bind:id="row._id") 
                span {{ row.title }}
                span.icon.is-large
                    i.fas.fa-angle-right


    div(v-cloak)

      
        #inspector-view(v-if="show_inspector && !show_input")

            
            div(v-if="i_docs[selected_item].status > 0")
                h3 {{ getCategory(i_docs[selected_item].category).title }} Available
                h4.time Last verified {{ timestamp(i_docs[selected_item]) }}

            div.unavailable(v-if="i_docs[selected_item].status == 0")
                h3 Sorry, this item has been reported unavailable. 
                h4.time Last verified {{ timestamp(i_docs[selected_item]) }}
                    

            .tags-container

                a.tags.has-addons(v-for="row in vote_type" @click="handleVote(i_docs[selected_item]._id, row.key)") 
                 
                    span.tag.is-primary
                        .icon
                            i.fas.fa-thumbs-up
                        | {{ i_docs[selected_item][row.key] || 0 }}
                    span.tag  {{ row.title }}

            
        #map-prompt(v-if="!show_inspector && !show_map" @click="handleShowMap")
            span.icon
                i.fas.fa-map
            span Show Map


        #map(v-bind:style="'display:'  + (show_map && !show_input ? 'block' : 'none')")

        div(v-cloak v-if="!page_loading && !show_input")
            .box(v-for="item in i_docs" v-if="item.parent == marker._id" v-bind:data-id="item._id" v-bind:style="makeItemStyle(item)" @click="handleToggleSelectItem(item)")

               
                span.status
                    .tags
                        .tag 
                            .icon
                                i.fas.fa-thumbs-up
                            | {{ countVotes(item) }}

                span.icon.is-large(v-bind:style="makeCategoryStyle(getCategory(item.category))") 
                    i(v-bind:class="makeCategoryIconClass(getCategory(item.category))")

                p {{ getCategory(item.category).title }} 

                span.time(v-if="item.status") {{ timestamp(item) }} 
                span.time(v-if="item.status == 0")  {{ timestamp(item) }}

            .more
                .icon(@click="handleShowInput")
                    .i.fas.fa-plus

block styles
    link(rel="stylesheet" type="text/css" href="/lib/map.css")
    link(rel="stylesheet" type="text/css" href="./detail.css")

block scripts
    script(src="/lib/map.js")
    script(src="./detail.js")
