@import "platform/variables";

#search-page {
	padding-bottom: 5em;
	background: #FFF;
	.modal-card-body {
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;

		.category {
			float: left;
		}


	}
	.modal-card-foot {
		button.is-primary {
			background: $blue;
		}
		button {			
			line-height: 0em;
			padding: 2em;
			text-transform: uppercase;
			font-weight: bold;
		}
	}

    #event-selector {
        background: $light-border;
        padding: 1em;
        text-align: center;
        margin: auto;
        button {
            width: 15em;
        }
    }

    .share {
        margin-top: 1em;
        text-align: center;
    }
	    
	#filters {

	    position: absolute;
	    width: 100%;
	    height: 100%;
	    background: #FFF;
	    border-top: 1px solid $light-border;
	    
	    h1 {
	        padding: 0em 1em;
	        margin-top: 1em;
	        margin-bottom: 1em;
	    }
	    

	     .more {
	     	background: #FFF;
	        text-transform: uppercase;
	        text-align: center;
	        font-weight: bold;
	        a {
	        	display: block;
	            margin-bottom:4em;
				padding: 1em;
	        }
	        a.button {
	        	line-height: 0em;
				padding: 2em;
				width: 90%;
	        }
	    }


	    ul {

	    	margin-bottom: 0.5em;
	        li {
	            float: left;
	            display: block;
	            background: #FFF;
	            width: 33.33%;
	            text-align: center;
	            padding: 0.5em 0em;
	            border-right: 1px solid $light-border;
	            border-bottom: 1px solid $light-border;
	        }

	        li:hover {
	            background: #FAFAFA;
	        }
	        li.active {
	            .title {
	                font-weight: bold;
	            }
	            .icon {
	                border-width: 2px;
	                border-style: solid;
	            }
	        }

	        li:hover {
	            cursor: pointer;
	        }


	        // implied borders for "grid"

	        li:nth-child(3n+0) {
	            border-right: 0px;
	        }

	        li:nth-child(3n) + li:nth-last-child(2),
	            li:nth-child(3n) + li:nth-last-child(2)+ li,
	            li:nth-child(3n):nth-last-child(4)~ li,
	            li:nth-child(3n) + li:nth-last-child(1)
	            {border-bottom: none }

	        .badge {
	            color: #FFF;
	            border-radius: 10em;
	            width: 2em;
	            height: 2em;
	            padding: 0.25em;
	            text-align: center;
	            position: absolute;

	        }

	        .title {

	        }

	        // icons
	        .icon {
	            border-radius: 4em;
	            font-weight: bold;
	            width: 4em;
	            height: 4em;
	            text-align: center;
	            margin-bottom: 0.5em;
	            margin-top: 0.5em;
	            i {
	                margin: auto;
	            }
	        }

	        li:last-child {
	            .icon i  {
	                padding-left: 0em;
	            }
	        }

	    }
	}
}