---
id: "browse"
---

extends ../../_layouts/_master.pug

block content
  
    div(v-if="!page_loading" v-cloak)



        // map view ----------------------------------------------------------
        // map is empty by default - only certain pages will fill this region

        #map(v-bind:style="'visibility:'  + (show_map ? 'visible' : 'hidden')")



  

  
        #map-prompt(v-if="!show_filters && (show_list || show_map)")
            .buttons.has-addons.is-centered

                span.button(@click="handleShowList" v-bind:class="show_map ? '' : 'is-info is-selected'")
                    span.icon
                        i.fas.fa-list
                    span List
                span.button(@click="handleShowMap" v-bind:class="show_map ? 'is-info is-selected' : ''")
                    span.icon
                        i.fas.fa-map
                    span Map


        // filters view ------------------------------------------------------
        #filters(v-if="show_filters")


            h1(v-if="personalizing") Finding {{ selected_category.title }} nearby...&hellip;
            h1(v-if="!page_loading && !personalizing") Reported Near You

            div(v-bind:style="personalizing ? 'visibility: hidden' : ''")
                h2 What would help today?


            ul.item-list
                li.item(v-for="cat in item_categories" v-bind:id="cat._id" v-bind:ref="cat.slug" 
                   @click="handleCategorySelect(cat)" 
                    )
                        span.icon.is-large(v-bind:style="makeCategoryStyle(cat)") 
                            i(v-bind:class="makeCategoryIconClass(cat)")
                            .badge(v-bind:style="makeBadgeStyle(cat)") {{ cat.count }}

                        .title {{ cat.title }} 
                li.item(@click="handleAllCategorySelect")
                    span.icon.is-large(style="background-color: #EEE")
                        i.fas.fa-arrow-right
                    .title All





        // venues view -------------------------------------------------------
        #venues-view(v-if="show_list && !show_filters")
            #venues
                p(v-if="!filtered_venues.length" ) No items have been reported to match your search yet. Please check back soon.

                div(v-if="filtered_venues.length")

                    .panel(v-bind:data-id="venue._id" v-for="venue in v_docs" v-if="filtered_venues.indexOf(venue._id) != -1")
                        
                        .panel-heading(@click="handleVenueSelect(venue)")
                            .distance(v-if="geolocation") {{ getDistanceFromVenue(venue) }}
                            

                            h3 
                                span.icon
                                    i.fas.fa-truck(v-if="venue.category[0] == 'trk'")
                                    i.fas.fa-building(v-if="venue.category[0] != 'trk'")
                                | {{ venue.title }}

                        .panel-block(@click="handleVenueSelect(venue)")

                            .category(v-for="item in i_docs" v-if="item.parent && item.parent == venue._id && item.category[0]" @click="handleItemSelect(item, venue)" v-bind:data-id="item._id")

                                span.icon.is-large(v-bind:style="makeCategoryStyle(getCategory(item.category))") 
                                    i(v-bind:class="makeCategoryIconClass(getCategory(item.category))")


block styles
    link(rel="stylesheet" type="text/css" href="/lib/map.css")
    link(rel="stylesheet" type="text/css" href="/apps/rdr/index.css")

block scripts
    script(src="/lib/map.js")
    script(src="/apps/rdr/index.js")
