---
id: "search"
---
extends ../../_layouts/_master.pug

block content

    // filters view ------------------------------------------------------
    #filters(v-cloak v-if="!page_loading")



        div(v-if="searching")
            h1 Finding {{ last_selected_category.title }} nearby...&hellip;
            h2 &nbsp; 

        div(v-if="!searching")
            div(v-if="!show_supply_count.length")
                h1 What Do You Need Most Today?
                h2 {{ pluralize(u_docs.length) }} Are Listening

            div(v-if="show_supply_count.length") 
                h1 Your Map Is Ready
                h2 We Found {{ supplies_located_count }} Possible Matches



        #event-selector
            .dropdown(@click="handleSelectRegion" v-bind:class='(show_region_dropdown ? "is-active" : "")')
                .dropdown-trigger
                    button.button(aria-haspopup="true" controls="dropdown-menu")
                        span {{ selected_region ? selected_region.title : "Select Your Region" }} 
                        span.icon.is-small
                            i.fas.fa-angle-down(aria-hidden="true")
                #dropdown-menu.dropdown-menu(role="menu")
                    .dropdown-content
                        a.dropdown-item(href="#" :class="selected_region == region ? 'is-active' : ''" @click="showRegion(region)" v-for="region in regions") {{ region.title }}
                        a.dropdown-item(href="#" :class="selected_region == 'all' ? 'is-active' : ''" @click="showAllRegions") Anywhere

        ul.item-list.is-clearfix
            li.item(v-for="cat in categories" v-if="cat.tag && cat.tag[0] == 'itm'" v-bind:id="cat._id" v-bind:ref="cat.slug" 
               @click="handleCategorySelect(cat)" v-bind:class="show_supply_count.indexOf(cat.slug) != -1 ? 'active' : ''"
                )
                    span.icon.is-large(v-bind:style="makeCategoryStyle(cat)") 
                        i(v-bind:class="makeCategoryIconClass(cat)")
                        .badge(v-if="show_supply_count.indexOf(cat.slug) != -1"  v-bind:style="makeBadgeStyle(cat)") {{ cat.count }}

                    .title {{ cat.title }} 


        div.share(v-if="show_supply_count.length")
            label.checkbox
                input(type="checkbox") 
                span Share my needs with the network
        div.more

            a(@click="handleContinueButton" v-if="!supplies_located_count") Browse All Supplies
            a.button.is-primary(@click="handleContinueButton" v-if="supplies_located_count") Launch Map



block styles
    link(rel="stylesheet" type="text/css" href="/apps/rdr/index.css")

block scripts
    script(src="/apps/rdr/index.js")
