---
id: "search"
---
extends ../../_layouts/_master.pug

block content

    #succces.modal(:class="prompt_report_needs ? 'is-active' : ''")
        .modal-background
        .modal-card
            section.modal-card-body

                .category-match.is-clearfix
                    div.category(v-for="cat in categories" v-bind:data-category="cat.slug" v-if="cat.count")
                        i(v-bind:class="makeCategoryIconClass(cat)" v-bind:style="makeCategoryStyle(cat) + '; background: #FFF;'")

                p(v-if="coverage.of == coverage.found") Success! We found all the items you are looking for. Please be advised that data changes quickly and availability cannot be guaranteed.

                p(v-if="coverage.found == 0") We saved your requests and will send a notification once supplies become available. While you wait, would you like to explore nearby shelters and outposts?

                p(v-if="coverage.of > coverage.found && coverage.found") We found {{ coverage.found }} of {{ coverage.of }} items you asked for. The other ones we have included in our request database and we will notify you once they become available.


            footer.modal-card-foot
                button.button.is-primary(@click="handleSubmitReportButton") Continue
                button.button(@click="handleReportNeedsClose") Cancel

    // filters view ------------------------------------------------------
    #filters(v-cloak v-if="!page_loading").is-clearfix

        
        h1 What Do You Need Most Today?



        #event-selector
            .dropdown(@click="handleSelectRegion" v-bind:class='(show_region_dropdown ? "is-active" : "")')
                .dropdown-trigger
                    button.button(aria-haspopup="true" controls="dropdown-menu")
                        span {{ selected_region ? selected_region.title : "Select Your Region" }} 
                        span.icon.is-small
                            i.fas.fa-angle-down(aria-hidden="true")
                #dropdown-menu.dropdown-menu(role="menu")
                    .dropdown-content
                        a.dropdown-item(href="#" :class="selected_region == region ? 'is-active' : ''" @click="showRegion(region)" v-for="region in regions") {{ region.title }}
                        a.dropdown-item(href="#" :class="selected_region == 'all' ? 'is-active' : ''" @click="showAllRegions") Anywhere

        ul.item-list.is-clearfix
            li.item(v-for="cat in categories" v-if="cat.tag && cat.tag[0] == 'itm'" v-bind:id="cat._id" v-bind:ref="cat.slug" 
               @click="handleCategorySelect(cat)" v-bind:class="show_supply_count.indexOf(cat.slug) != -1 ? 'active' : ''"
                )
                    span.icon.is-large(v-bind:style="makeCategoryStyle(cat)") 
                        i(v-bind:class="makeCategoryIconClass(cat)" v-if="show_supply_count.indexOf(cat.slug) == -1")
                        i.fas.fa-check(v-if="show_supply_count.indexOf(cat.slug) != -1")

                        //.badge(v-if="show_supply_count.indexOf(cat.slug) != -1"  v-bind:style="makeBadgeStyle(cat)")

                    .title {{ cat.title }} 


        div.more

            a(@click="handleContinueButton" v-if="!show_supply_count.length || !selected_region") Browse All Supplies
            a.button.is-primary(@click="handleReportNeedsButton" v-if="show_supply_count.length && selected_region") Report Needs



block styles
    link(rel="stylesheet" type="text/css" href="/apps/rdr/index.css")

block scripts
    script(src="/apps/rdr/index.js")
