#index-page {    

    .radio {
        padding: 2em;
    }
    .radio + .radio {
        margin-left: 0em;
    }

    #wifi-creds {
        display: block;
        input {
            margin: 0.25em;
        }
    }

    .button {
        width: 10em;
    }
}