---
id: "channels"
---

extends ../_layouts/_master.pug

block content
    #channels-view

        h1(v-if="personalizing" v-cloak) Personalizing Map
        h1(v-if="!personalizing" v-cloak) What are you searching for?
        div(v-bind:style="personalizing ? 'visibility: hidden' : ''")
            h2(v-cloak v-if="network_status === 'OFL'") 
                | Connect to a Lantern to send data
            h2(v-cloak v-if="network_status !== 'OFL' && u_docs.length >= 2") 
                | {{ pluralize(u_docs.length - 1) }} Listening
            h2(v-cloak v-if="network_status !== 'OFL' && u_docs.length <= 1") 
                | Waiting for Users To Join Network

        ul.item-list(v-cloak)
            li.item(
                v-for="tag in item_tags" 
                v-bind:id="tag._id" 
                v-bind:class="makeCategoryClass(tag)"
               @click="toggleCategory" 
                )
                    .icon(
                    v-bind:style="makeCategoryStyle(tag)"
                    ) {{ tag.title[0].toUpperCase() }}
                    .title {{ tag.title }}
                
block styles
    link(rel="stylesheet" type="text/css" href="/channels/channels.css")

block scripts
    script(src="/channels/channels.js")
