#detail-page .box {
  min-height: 7em;
  margin: 1em;
  border: 0px solid; }
  #detail-page .box .icon {
    border-radius: 4em;
    font-weight: bold;
    width: 4em;
    height: 4em;
    text-align: center;
    margin-right: 1em;
    float: left; }
    #detail-page .box .icon i {
      margin: auto; }

#detail-page .box:hover {
  cursor: pointer; }

