doctype html
html(lang="en")
    head
        title=title
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="/media/favicon/apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
        link(rel="icon", type="image/png", sizes="32x32", href="/media/favicon/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="16x16", href="/media/favicon/favicon-16x16.png")
        link(rel="mask-icon", href="/media/favicon/safari-pinned-tab.svg", color="#5bbad5")
        meta(name="msapplication-TileColor", content="#da532c")
        meta(name="theme-color", content="#ffffff")
        link(rel="stylesheet" type="text/css" href="/lib/lantern.css")
        block styles

    body
        div(id=id+"-page")
            // global navigation
            nav.navbar.is-fixed-top(role="navigation" aria-label="main navigation")
                .navbar-brand
                    .navbar-item
                        span Lantern Network
                    a.navbar-burger(role="button" aria-label="menu" aria-expanded="false"  @click="toggleNavigation" v-bind:class="[showNavMenu ? 'is-active' : 'is-inactive']" )
                        span(aria-hidden="true")
                        span(aria-hidden="true")
                        span(aria-hidden="true")

            // map is empty by default - only certain pages will fill this region
            #map

            // main page content
            .content
                block content

            script(src="/lib/vendor.js")
            script(src="/lib/lantern.js")
            block scripts