#index-page {    
    
    input[type="checkbox"], input[type="radio"] {
        margin-right: 0.5em;
        height: 22px;
        width: 22px;
    }

    .radio {
        padding: 1em;
    }
    .radio + .radio {
        margin-left: 0em;
    }

    #wifi-creds {
        display: block;
        input {
            margin: 0.25em;
        }
    }

    .button {
        width: 10em;
    }
}