html, body {
  background: #FFF; }

#home-view {
  padding-top: 2em; }
  #home-view .loading {
    text-align: center;
    padding: 2em; }
  #home-view .apps .card {
    background: #00d1b2;
    overflow: hidden;
    cursor: pointer; }
  #home-view .apps li {
    margin: 1em; }
  #home-view .apps .edge {
    float: left;
    color: #FFF;
    width: 2em; }
    #home-view .apps .edge .icon.app-icon {
      font-size: xx-large;
      padding: 1.05em 1.25em; }
  #home-view .apps .main {
    background: #FFF;
    margin-left: 4em;
    padding: 1em; }
  #home-view .apps p {
    margin-top: 0.3em;
    font-size: small;
    white-space: nowrap; }
  #home-view .apps h3 {
    font-size: large; }

