#index-page {

    .logo {
        width: 60px;
    }
    .intro {
        padding: 2em;
    }

    form {
        max-width: 500px;
        margin: auto;
    }
    label {
        text-align: left;
    }

    input[type="checkbox"], input[type="radio"] {
        margin-right: 0.5em;
        height: 22px;
        width: 22px;
    }

    .select {
        margin: 1em 0em;
    }
    .radio {
        padding: 1.5em;
    }
    .radio + .radio {
        margin-left: 0em;
    }

    #wifi-creds {
        display: block;
        p {
            text-align: left;
            padding: 1em;
            font-size: 0.9em;
        }
        input {
            margin: 0.25em;
        }
    }

    .button {
        width: 10em;
    }
}