@import "bulma/sass/utilities/_all";
$text: #595959;
$background: #f9fafb;
$border: #c6c8cd;
$body-size: 14px;
$box-radius: 8px;
$box-shadow: 0 2px 50px rgba($black, 0.10), 0 0 0 1px rgba($black, 0.05);
$card-shadow: 0 2px 10px rgba($black, 0.10), 0 0 0 1px rgba($black, 0.05);
@import "bulma/sass/base/_all";
@import "bulma/sass/elements/box";
@import "bulma/sass/elements/tag";
@import "bulma/sass/elements/icon";
@import "bulma/sass/elements/button";
@import "bulma/sass/elements/form";
@import "bulma/sass/components/panel";
@import "bulma/sass/components/card";
@import "bulma/sass/components/modal";


[v-cloak] {
     display: none;
}

body {
    font-family: "montserrat",sans-serif;
    letter-spacing: 0.06em;
    padding: #{$body-line-height}em;
}

.content {
    padding: #{$body-line-height}em;
    text-align: center;
}

.card {
    border-radius: 5px;
    border: 1px solid $border;
}

.card-header {
    border-bottom: 1px solid $border;
    box-shadow: none;
}


.panel .content {
    width: 100%;
}

input[type="checkbox"], input[type="radio"] {
    margin-right: 0.5em;
}

h1, h2 {
    text-transform: uppercase;
}

h1 {
    font-weight: bold;
    padding: #{$body-line-height/2}em;
}

section {
    padding: #{$body-line-height/3}em;
}
