---
id: "home"
---

extends ../_layouts/_master.pug

block content
    #home-view(v-cloak)

        h1(v-if="personalizing") Finding closest places&hellip;
        h1(v-if="!page_loading && !personalizing") {{ m_docs.length }} Places Reported

        div(v-bind:style="personalizing ? 'visibility: hidden' : ''")
            h2 What do you need today?

        ul.item-list(v-if="user")
            li.item(v-for="cat in item_categories" v-bind:id="cat._id" v-bind:ref="cat.slug" 
               @click="handleCategorySelect(cat)" 
                )
                    span.icon.is-large(v-bind:style="makeCategoryStyle(cat)") 
                        i(v-bind:class="makeCategoryIconClass(cat)")
                        .badge(v-bind:style="makeBadgeStyle(cat)") {{ cat.count }}

                    .title {{ cat.title }} 
            li.item(@click="handleAllCategorySelect")
                span.icon.is-large(style="background-color: #EEE")
                    | {{i_docs.length}}
                .title All
                
block styles
    link(rel="stylesheet" type="text/css" href="/home/home.css")

block scripts
    script(src="/home/home.js")
