html, body {
  background: #FFF; }

#browse-page h2 {
  margin-bottom: 2em; }

#browse-page h3, #browse-page h4, #browse-page h5 {
  margin: 3px;
  color: #79828b; }

#browse-page .panel {
  margin-top: 1.8em;
  margin-bottom: 2.2em; }

#browse-page .distance {
  float: right;
  padding-top: 0.4em;
  font-size: small; }

#browse-page h3, #browse-page h4, #browse-page h5 {
  font-weight: normal; }

#browse-page .panel:hover .panel-heading, #browse-page .panel:hover {
  cursor: pointer; }

#browse-page .panel-block {
  overflow-x: hidden; }
  #browse-page .panel-block .icon {
    border-radius: 4em;
    font-weight: bold;
    width: 3.50em;
    height: 3.50em;
    text-align: center;
    margin-right: 1em;
    float: left; }
    #browse-page .panel-block .icon i {
      margin: auto; }

#browse-page #map-prompt {
  position: fixed;
  top: 3.89rem;
  width: 100%;
  height: 3.50rem;
  padding: 0.5em;
  border-bottom: 1px solid #f2f2f2;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.02), 0 0 0 1px rgba(0, 0, 0, 0.02);
  background: #FFF; }
  #browse-page #map-prompt .field {
    margin: auto; }
  #browse-page #map-prompt .button {
    padding: 0em 3em; }

#browse-page #map-err {
  padding: 2em; }

#browse-page #map {
  position: fixed !important;
  top: 7rem;
  z-index: 1000;
  height: 100%;
  width: 100%; }

#browse-page #venues-view {
  margin-top: 6em;
  padding: 1em; }
  #browse-page #venues-view h3 {
    text-align: left; }

#filters {
  z-index: 10002;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.98);
  border-top: 1px solid #f2f2f2; }
  #filters h1 {
    padding: 0em 1em;
    margin-top: 2em; }
  #filters h2 {
    padding: 0em 1em;
    margin-bottom: 1em; }
  #filters ul li {
    float: left;
    display: block;
    background: #FFF;
    width: 33.33%;
    text-align: center;
    padding: 1em 0em;
    border-right: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2; }
  #filters ul li:hover {
    background: #FAFAFA; }
  #filters ul li.active .title {
    font-weight: bold; }
  #filters ul li.active .icon {
    border-width: 2px;
    border-style: solid; }
  #filters ul li:hover {
    cursor: pointer; }
  #filters ul li:nth-child(3n+0) {
    border-right: 0px; }
  #filters ul li:nth-child(3n) + li:nth-last-child(2),
  #filters ul li:nth-child(3n) + li:nth-last-child(2) + li,
  #filters ul li:nth-child(3n):nth-last-child(4) ~ li,
  #filters ul li:nth-child(3n) + li:nth-last-child(1) {
    border-bottom: none; }
  #filters ul .badge {
    color: #FFF;
    border-radius: 10em;
    width: 2em;
    height: 2em;
    padding: 0.25em;
    text-align: center;
    float: right;
    margin-right: -1em;
    margin-top: -2em; }
  #filters ul .icon {
    border-radius: 4em;
    font-weight: bold;
    width: 4em;
    height: 4em;
    text-align: center;
    margin-bottom: 0.5em;
    margin-top: 0.5em; }
    #filters ul .icon i {
      margin: auto;
      padding-left: 0.75em; }
  #filters ul li:last-child .icon i {
    padding-left: 0em; }

