html, body {
    background: #FFF;
}

#admin-page {
    #doc-summary {
        padding: 2em;
    }


    form {
        input, button {
            width: 100%;
            margin: 0.5em 0em;
        }
    }

    #user-view {
        margin-top: 2em;
        border-top: 1px solid #EEE;
        border-bottom: 1px solid #EEE;
        padding: 1em;
    }

    .tag {
        width: 9em;
    }
    .actions {
        border-top: 1px solid #EEE;
        border-bottom: 1px solid #EEE;
        padding: 1em;
        height: 4em;
        margin-bottom: 1em;

        .button {
            float: left;
            margin-right: 1em;
        }
        .button:last-child {
            margin-right: 0px;
        }
    }

    .connection {
        padding: 1em;
    }

    #user-view {
        padding: 2em;
        text-align: center;
   }

   #device-view {
        padding: 2em;
   }

}