<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Lantern Network</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="/media/favicon/apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/media/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/media/favicon/favicon-16x16.png">
        <link rel="mask-icon" href="/media/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <link rel="stylesheet" type="text/css" href="/lib/lantern.css">
        <link rel="stylesheet" type="text/css" href="/media/icons/css/fontawesome-all.css">
        <link rel="stylesheet" type="text/css" href="/lib/map.css">
        <link rel="stylesheet" type="text/css" href="/browse/browse.css">
    </head>
    <body>
        <div id="browse-page">
            <!-- global navigation-->
            <nav class="navbar is-fixed-top" v-cloak role="navigation" aria-label="main navigation" v-bind:class="[showNavMenu ? 'is-active' : 'is-inactive']">
                <div class="navbar-brand"><a class="navbar-burger" v-if="!allow_back_button" role="button" aria-label="menu" v-bind:aria-expanded="[showNavMenu ? true : false]" @click="toggleNavigation" v-bind:class="[showNavMenu ? 'is-active' : 'is-inactive']"><span aria-hidden="true"></span><span aria-hidden="true"></span><span aria-hidden="true"></span></a>
                    <div class="navbar-item"><span class="icon is-medium" id="back-btn" v-if="allow_back_button" @click="handleGoBack" role="button"><i class="fas fa-arrow-left fa-md"></i></span><span>{{ page_title }}</span></div>
                </div>
            </nav>
            <nav class="navbar is-fixed-bottom" id="status-footer" v-cloak v-if="cloud_connected !== null || lantern_connected !== null">
                <div class="navbar-brand">
                    <div class="navbar-item"><span v-if="!cloud_connected &amp;&amp; !lantern_connected"> <span class="icon"><i class="fas fa-wifi" style="color: #DDD;"></i></span>Offline</span><span v-if="cloud_connected"> <span class="icon"><i class="fas fa-cloud"></i></span>Online</span><span v-if="lantern_connected"> <span class="icon"><i class="fas fa-wifi"></i></span>Lantern X12</span></div>
                </div>
            </nav>
            <section>
                <nav class="global" v-if="showNavMenu" v-cloak>
                    <ul>
                        <li><a href="/browse/browse.html"> <span class="icon"><i class="fas fa-map"></i></span>Home</a></li>
                        <li><a href="/channels/channels.html"> <span class="icon"><i class="fas fa-box-open"></i></span>Requests</a></li>
                        <li><a href="/add/add.html"> <span class="icon"><i class="fas fa-plus-circle"></i></span>Contribute</a></li>
                        <li><a href="/network/network.html"> <span class="icon"><i class="fas fa-broadcast-tower"></i></span>Network</a></li>
                        <li><a href="/admin/admin.html"> <span class="icon"><i class="fas fa-database"></i></span>Admin</a></li>
                    </ul>
                </nav>
                <!-- main page content-->
                <div class="page-content">
                    <div id="map-prompt">
                        <div class="buttons has-addons is-centered"><span class="button" @click="handleShowList" v-bind:class="show_map ? '' : 'is-info is-selected'"><span class="icon"><i class="fas fa-list"></i></span><span>List</span></span><span class="button" @click="handleShowMap" v-bind:class="show_map ? 'is-info is-selected' : ''"><span class="icon"><i class="fas fa-map"></i></span><span>Map</span></span></div>
                    </div>
                    <div v-if="!page_loading" v-cloak>
                        <!-- map is empty by default - only certain pages will fill this region-->
                        <div id="map" v-if="!map_err" v-bind:style="'visibility:'  + (show_map ? 'visible' : 'hidden')"></div>
                        <div id="map-err" v-if="show_map &amp;&amp; map_err">
                            <p>Unable to load the map at this time. Please ensure your browser has permission to access your location and reload the page.</p>
                        </div>
                        <!-- markers view-->
                        <div id="markers-view" v-if="!show_map">
                            <div id="markers">
                                <p v-if="!m_docs.length">There are no supply stations or vehicles reported yet. Please check back soon.</p>
                                <div v-if="m_docs.length">
                                    <div class="panel" v-bind:data-id="marker._id" v-for="marker in m_docs" v-if="marker.title">
                                        <div class="panel-heading" @click="handleMarkerSelect(marker)">
                                            <h4>{{ marker.title }}</h4>
                                        </div>
                                        <div class="panel-block" v-for="item in i_docs" v-if="item.parent == marker._id &amp;&amp; item.category[0]" @click="handleItemSelect(item, marker)" v-bind:data-id="item._id"><span class="icon is-large" v-bind:style="makeCategoryStyle(getCategory(item.category))"> <i v-bind:class="makeCategoryIconClass(getCategory(item.category))"></i></span>
                                            <p>{{ getCategoryName(item) }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <script src="/lib/vendor.js"></script>
            <script src="/lib/lantern.js"></script>
            <script src="/lib/map.js"></script>
            <script src="/browse/browse.js"></script>
        </div>
    </body>
</html>
