
#browse-page {

    #button-bar {
        margin-bottom: 4em;
    }

    #filter-button {
        margin-top: -4em;
        float: left;
    }

    #filter-view {
        position: absolute;
        width: 100%;
        left: 0;
        top: 130px;

     
        li:hover {
            cursor: pointer;
        }

        li.active {
            padding: 4px;
            border: 2px solid #000;
        }

        .card {
            margin: 2em;
            min-height: 200px;
            background: #FFF;
            border-radius: 8px;
        }

        .card-header {
            border-bottom: 0px;
        }

        .card-header-title {
            display: block;
            margin-top: 3em;
            text-align: center;
            border-bottom: 0px;
        }
    }

    ul.supply-list {
        clear: both;
        li {
            font-weight: bold;
            overflow: hidden;
            margin: 1em;
            padding: 6px;
            float: left;
            display: block;
            width: 5em;
            height: 5em;
            border-radius: 5em;
        }
    }

    #report-button {
        margin-top: -4em;
        float: right;
    }

    #venues {
        h3 {
            text-align: left;
            font-weight: bold;
        }
    }
    
    #map {
        min-height: 200px;
        margin: -3em;

        a.mapboxgl-ctrl-logo {
            display: none;
        }
        .mapboxgl-ctrl-attrib  {
            display: none;
        }
    }


}