html, body {
  background: #f9fafb; }

#add-page h1 {
  margin-top: 0.5em; }

#add-page h2 {
  margin-bottom: 2em; }

#add-page .box:first-child {
  margin-top: 1em; }

#add-page .box:hover {
  cursor: pointer; }

#add-page .card {
  margin: 0em auto 1em;
  max-width: 22em;
  border-radius: 1em;
  overflow: hidden; }
  #add-page .card p {
    padding: 2em;
    font-size: small;
    font-weight: normal; }

#add-page .button {
  max-width: 14em; }

#add-page .action-panel {
  text-align: center;
  margin-top: 2em; }

#add-page #report-view {
  overflow-y: scroll; }
  #add-page #report-view h1 {
    margin-top: 1em; }

#add-page #subcategory-view .button, #add-page #input-selector-view .button, #add-page #map-selector-view .button {
  width: 20em; }

#add-page #input-selector-view {
  padding: 1em; }

#add-page #map-selector-view {
  padding: 0em 2em; }
  #add-page #map-selector-view input {
    margin: 2em auto;
    max-width: 19em; }

#add-page #success-view {
  background: #f9fafb;
  padding: 3em;
  text-align: center; }
  #add-page #success-view .button {
    margin-top: 3em; }
    #add-page #success-view .button .icon {
      margin-left: 0.75em; }

