<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Lantern Network</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="/media/favicon/apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/media/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/media/favicon/favicon-16x16.png">
        <link rel="mask-icon" href="/media/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <link rel="stylesheet" type="text/css" href="/lib/lantern.css">
        <link rel="stylesheet" type="text/css" href="/media/icons/css/fontawesome-all.css">
        <link rel="stylesheet" type="text/css" href="/network/network.css">
    </head>
    <body>
        <div id="network-page">
            <!-- global navigation-->
            <nav class="navbar is-fixed-top" v-cloak role="navigation" aria-label="main navigation" v-bind:class="[showNavMenu ? 'is-active' : 'is-inactive']">
                <div class="navbar-brand"><a class="navbar-burger" v-if="!allow_back_button" role="button" aria-label="menu" v-bind:aria-expanded="[showNavMenu ? true : false]" @click="toggleNavigation" v-bind:class="[showNavMenu ? 'is-active' : 'is-inactive']"><span aria-hidden="true"></span><span aria-hidden="true"></span><span aria-hidden="true"></span></a>
                    <div class="navbar-item"><span class="icon is-medium" id="back-btn" v-if="allow_back_button" @click="handleGoBack" role="button"><i class="fas fa-arrow-left fa-md"></i></span><span>{{ page_title }}</span></div>
                </div>
            </nav>
            <nav class="navbar is-fixed-bottom" id="status-footer" v-cloak v-if="cloud_connected !== null || lantern_connected !== null">
                <div class="navbar-brand">
                    <div class="navbar-item"><span v-if="!cloud_connected &amp;&amp; !lantern_connected"> <span class="icon"><i class="fas fa-wifi" style="color: #DDD;"></i></span>Offline</span><span v-if="cloud_connected"> <span class="icon"><i class="fas fa-cloud"></i></span>Online</span><span v-if="lantern_connected"> <span class="icon"><i class="fas fa-wifi"></i></span>Lantern X12</span></div>
                </div>
            </nav>
            <section>
                <nav class="global" v-if="showNavMenu" v-cloak>
                    <ul>
                        <li><a href="/browse/browse.html"> <span class="icon"><i class="fas fa-map"></i></span>Home</a></li>
                        <li><a href="/channels/channels.html"> <span class="icon"><i class="fas fa-box-open"></i></span>Requests</a></li>
                        <li><a href="/add/add.html"> <span class="icon"><i class="fas fa-plus-circle"></i></span>Contribute</a></li>
                        <li><a href="/network/network.html"> <span class="icon"><i class="fas fa-broadcast-tower"></i></span>Network</a></li>
                        <li><a href="/admin/admin.html"> <span class="icon"><i class="fas fa-database"></i></span>Admin</a></li>
                    </ul>
                </nav>
                <!-- main page content-->
                <div class="page-content">
                    <div id="user-view" v-cloak v-if="!page_loading">
                        <h1>Users</h1>
                        <p v-if="u_docs.length == 0">Sorry, there are no known users on the network right now. Please check back soon.</p>
                        <ul v-for="user in u_docs" v-if="u_docs.length">
                            <li class="box">{{ user._id }}</li>
                        </ul>
                    </div>
                    <div id="device-view" v-cloak v-if="!page_loading">
                        <h1>Devices</h1>
                        <p v-if="d_docs.length == 0">Sorry, there are no known devices on the network right now. Please check back soon.</p>
                        <ul v-for="device in d_docs" v-if="d_docs.length">
                            <li class="box">{{ device._id }}</li>
                        </ul>
                    </div>
                </div>
            </section>
            <script src="/lib/vendor.js"></script>
            <script src="/lib/lantern.js"></script>
            <script src="/network/network.js"></script>
        </div>
    </body>
</html>
