html, body {
  background: #FFF; }

#admin-page #doc-summary {
  padding: 2em; }

#admin-page form input, #admin-page form button {
  width: 100%;
  margin: 0.5em 0em; }

#admin-page #user-view {
  margin-top: 2em;
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
  padding: 1em; }

#admin-page .tag {
  width: 9em; }

#admin-page .actions {
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
  padding: 1em;
  height: 4em;
  margin-bottom: 1em; }
  #admin-page .actions .button {
    float: left;
    margin-right: 1em; }
  #admin-page .actions .button:last-child {
    margin-right: 0px; }

#admin-page .connection {
  padding: 1em; }

#admin-page #user-view {
  padding: 2em;
  text-align: center; }

#admin-page #device-view {
  padding: 2em; }

#admin-page .box {
  margin: 1em; }

