<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Lantern Network</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="/media/favicon/apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/media/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/media/favicon/favicon-16x16.png">
        <link rel="mask-icon" href="/media/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <link rel="stylesheet" type="text/css" href="/lib/lantern.css">
        <link rel="stylesheet" type="text/css" href="/media/icons/css/fontawesome-all.css">
        <link rel="stylesheet" type="text/css" href="/admin/admin.css">
    </head>
    <body>
        <div id="admin-page">
            <!-- global navigation-->
            <nav class="navbar is-fixed-top" v-cloak role="navigation" aria-label="main navigation" v-bind:class="[showNavMenu ? 'is-active' : 'is-inactive']">
                <div class="navbar-brand"><a class="navbar-burger" v-if="!allow_back_button" role="button" aria-label="menu" v-bind:aria-expanded="[showNavMenu ? true : false]" @click="toggleNavigation" v-bind:class="[showNavMenu ? 'is-active' : 'is-inactive']"><span aria-hidden="true"></span><span aria-hidden="true"></span><span aria-hidden="true"></span></a>
                    <div class="navbar-item"><span class="icon is-medium" id="back-btn" v-if="allow_back_button" @click="handleGoBack" role="button"><i class="fas fa-arrow-left fa-md"></i></span><span>{{ page_title }}</span></div>
                </div>
            </nav>
            <nav class="navbar is-fixed-bottom" id="status-footer" v-cloak v-if="cloud_connected !== null || lantern_connected !== null">
                <div class="navbar-brand">
                    <div class="navbar-item"><span v-if="!cloud_connected &amp;&amp; !lantern_connected"> <span class="icon"><i class="fas fa-wifi" style="color: #DDD;"></i></span>Offline</span><span v-if="cloud_connected"> <span class="icon"><i class="fas fa-cloud"></i></span>Online</span><span v-if="lantern_connected"> <span class="icon"><i class="fas fa-wifi"></i></span>Lantern X12</span></div>
                </div>
            </nav>
            <section>
                <nav class="global" v-if="showNavMenu" v-cloak>
                    <ul>
                        <li><a href="/browse/browse.html"> <span class="icon"><i class="fas fa-map"></i></span>Home</a></li>
                        <li><a href="/channels/channels.html"> <span class="icon"><i class="fas fa-box-open"></i></span>Requests</a></li>
                        <li><a href="/add/add.html"> <span class="icon"><i class="fas fa-plus-circle"></i></span>Contribute</a></li>
                        <li><a href="/network/network.html"> <span class="icon"><i class="fas fa-broadcast-tower"></i></span>Network</a></li>
                        <li><a href="/admin/admin.html"> <span class="icon"><i class="fas fa-database"></i></span>Admin</a></li>
                    </ul>
                </nav>
                <!-- main page content-->
                <div class="page-content">
                    <div class="connection" v-if="lantern_connected" v-cloak>
                        <div class="notification is-warning has-text-weight-normal is-size-6" v-cloak v-if="warning">{{ warning }}</div>
                        <div class="field">
                            <input class="switch" id="join-router" type="checkbox" v-model="connection">
                            <label for="join-router">Connect to Router</label>
                        </div>
                        <!-- prompt for valid wi-fi credentials if available-->
                        <form id="wifi-creds" v-if="connection" @submit.prevent="handleSubmit">
                            <input class="input" type="text" placeholder="WiFi SSID" v-model="network_ssid">
                            <input class="input" type="password" placeholder="WiFi Password" v-model="network_pass"><a class="button is-primary" @click="handleSubmit" :class="processing ? 'is-loading' : ''">Connect</a>
                        </form>
                    </div>
                    <div id="doc-summary" v-cloak><a class="tags has-addons" v-for="item in types" @click="handleSelectType(item)"> <span class="tag">{{ item.slug }}</span><span class="tag is-primary">{{ getDocCount(item) }}</span></a></div>
                    <div class="actions">
                        <div class="button is-primary" v-on:click="loadTestData">Load Test Data</div>
                        <div class="button is-danger is-outlined" v-on:click="removeAllDocs">Clear Data</div>
                    </div>
                </div>
            </section>
            <script src="/lib/vendor.js"></script>
            <script src="/lib/lantern.js"></script>
            <script src="/admin/admin.js"></script>
        </div>
    </body>
</html>
