---
id: "network"
---

extends ../../_layouts/_master.pug

block content
    div(v-cloak v-if="!page_loading")


        .columns
            .column
                .card(@click="handleInspectUsers")
                    .card-header 
                        .card-header-title Active Users  
                        .card-header-icon 
                            span.icon
                                    i.fas.fa-user
                    .card-content {{ u_docs.length }} 

            .column
                .card(@click="handleInspectDevices") 
                    .card-header 
                        .card-header-title Active Hosts 
                        .card-header-icon                     
                            span.icon
                                i.fas.fa-server
                    .card-content {{ getActiveHostCount() }}




        .card#host-list
            .card-header 
                .card-header-title Host List 
            .card-content
                #map

            table.table.is-striped(@click="handleInspectDevices")
                thead
                    th 
                    th Server
                    th Last Seen
                tbody
                    tr(v-for="item in d_docs")
                        td
                            span.icon(v-bind:class="item.status == 1 ? 'online' : ''")
                                i.fas.fa-circle
                        td {{ item.title }}
                        td {{ timestamp(item) }}



        .columns

            .column
                .card(@click="handleInspectVenues") 
                    .card-header 
                        .card-header-title Venues  
                        .card-header-icon 
                            span.icon
                                    i.fas.fa-building
                    .card-content {{ v_docs.length }} 

            .column
                .card
                    .card-header
                        .card-header-title Items 
                        .card-header-icon                     
                            span.icon
                                i.fas.fa-box
                    .card-content {{ i_docs.length }}

        .columns


            .column
                .card
                    .card-header
                        .card-header-title Routes 
                        .card-header-icon                     
                            span.icon
                                i.fas.fa-map
                    .card-content {{ r_docs.length }}

            .column
                .card(@click="handleInspectNotes") 
                    .card-header
                        .card-header-title Notes 
                        .card-header-icon                     
                            span.icon
                                i.fas.fa-sticky-note
                    .card-content {{ n_docs.length }}





block styles
    link(rel="stylesheet" type="text/css" href="/platform/map.css")
    link(rel="stylesheet" type="text/css" href="./index.css")

block scripts
    script(src="/platform/map.js")
    script(src="./index.js")
