
$background: #f9fafb;

body {
    background: none;
}


.page-content {

    overflow: hidden;
}

#checkin-page {    
    background: rgba(255,255,255,0.8);
    background: none;
    padding: 1em;
    
    label {
        text-align: left;
    }

    .panel {
        margin-top: 1em;
    }


    #success-view {
        background: rgba(255,255,255,0.8);
        border-radius: 8px;
        padding: 3em;
        text-align: center;
        .button {
            margin-top: 3em;    
            .icon {margin-left: 0.75em;}
        }
    }


    #map-cover, #map {
        background: rgba(255,255,255,0.8);
        height: 100%;
        width: 100%;
        position: fixed !important;
        top: 0;
        left: 0;
        z-index: -5;
    }

    #map-cover {
        z-index: -2;
    }

}