html, body {
    background: #FFF;
}

#admin-page {
    #doc-summary {
        padding: 2em;
    }
    .tag {
        width: 9em;
    }
    .actions {
        border-bottom: 1px solid #EEE;
        padding: 1em;
        margin-bottom: 1em;
    }
}