
$light-border: #f2f2f2;
$primary: #6ae1c4;

html, body {
    background: #FFF;
}

#home-view {
    padding-top: 2em;

    .loading {
        text-align: center;
        padding: 2em;


    }
    .apps { 
        
        .card {
            background: #00d1b2;
            overflow: hidden;
            cursor: pointer;
        }

        li {
            margin: 1em;
        }

        .edge {
            float: left;
            color: #FFF;
            width: 2em;

            .icon.app-icon {
                font-size: xx-large;
                padding: 1.05em 1.25em;
            }

        }

        .main {
            background: #FFF;
            margin-left: 4em;
            padding: 1em;
        }

        p {
            font-size: small;
            white-space: nowrap;
        }

        h3 {
            font-size: large;
        }
    }
}