$light-border: #f2f2f2;

html, body {
    background: #FFF;
}

#home-view {

    h1 {
        padding: 0em 1em;
        margin-top: 2em;
    }
    
    h2 {
        padding: 0em 1em;
        margin-bottom: 1em;
    }

    ul {

        li {
            float: left;
            display: block;
            background: #FFF;
            width: 33.33%;
            text-align: center;
            padding: 1em 0em;
            border-right: 1px solid $light-border;
            border-bottom: 1px solid $light-border;
        }

        li:hover {
            background: #FAFAFA;
        }
        li.active {
            .title {
                font-weight: bold;
            }
            .icon {
                border-width: 2px;
                border-style: solid;
            }
        }

        li:hover {
            cursor: pointer;
        }


        // implied borders for "grid"

        li:nth-child(3n+0) {
            border-right: 0px;
        }

        li:nth-child(3n) + li:nth-last-child(2),
            li:nth-child(3n) + li:nth-last-child(2)+ li,
            li:nth-child(3n):nth-last-child(4)~ li,
            li:nth-child(3n) + li:nth-last-child(1)
            {border-bottom: none }


        .badge {
            color: #FFF;
            border-radius: 10em;
            width: 2em;
            height: 2em;
            padding: 0.25em;
            text-align: center;
            float: right;
            margin-right: -1em;
            margin-top: -2em;

        }

        // icons
        .icon {
            border-radius: 4em;
            font-weight: bold;
            width: 4em;
            height: 4em;
            text-align: center;
            margin-bottom: 0.5em;
            margin-top: 0.5em;
            i {
                margin: auto;
                padding-left: 0.75em
            }
        }

        li:last-child {
            .icon i  {
                padding-left: 0em;
            }
        }

    }
}