---
id: "home"
---

extends _layouts/_master.pug

block content
    #home-view(v-cloak v-if="!page_loading")
        h1 App Directory

        ul.apps
            li.card(v-for="app in apps" @click="goToApp(app.id)")
                .edge
                    span.icon.app-icon 
                        i.fas(v-bind:class="'fa-'+app.icon")
                .main                    
                    h3 {{ app.title }}
                    p {{ app.text }}
                
block styles
    link(rel="stylesheet" type="text/css" href="/index.css")

block scripts
    script(src="/index.js")
