---
id: "home"
---

extends _layouts/_master.pug

block content
    #home-view(v-cloak)

        h1(v-if="personalizing") Finding {{ selected_category.title }} nearby...&hellip;
        h1(v-if="!page_loading && !personalizing") Reported Supplies

        div(v-bind:style="personalizing ? 'visibility: hidden' : ''")
            h2 What would help today?


        ul.item-list
            li.item(v-for="cat in item_categories" v-bind:id="cat._id" v-bind:ref="cat.slug" 
               @click="handleCategorySelect(cat)" 
                )
                    span.icon.is-large(v-bind:style="makeCategoryStyle(cat)") 
                        i(v-bind:class="makeCategoryIconClass(cat)")
                        .badge(v-bind:style="makeBadgeStyle(cat)") {{ cat.count }}

                    .title {{ cat.title }} 
            li.item(@click="handleAllCategorySelect")
                span.icon.is-large(style="background-color: #EEE")
                    i.fas.fa-arrow-right
                .title More
                
block styles
    link(rel="stylesheet" type="text/css" href="/index.css")

block scripts
    script(src="/index.js")
