
:root {
  --stencil-color: #EEE;
}

#categories li {
    font-weight: bold;
    float: left;
    overflow: hidden;
    margin: 0.5em;
    padding: 6px;
}

#categories li:hover {
    cursor: pointer;
}

#categories li.active {
    padding: 4px;
    border: 2px solid #000;
}