---
id: "map"
---

extends ../../_layouts/_master.pug

block content
    #map-app
        section
            h1 What do you need most today?
            h2(v-cloak) {{ pluralize(u_docs.length-1) }} Listening

        section(v-cloak)
            ul#categories
                li(
                    v-for="r in c_docs" 
                    v-on:click="toggleCategory" 
                    v-bind:class="makeCategoryClass(r)"
                    v-bind:id="r._id" 
                    v-bind:style="makeCategoryStyle(r)"
                    )
                        span="{{ r.name }}"

block styles
    link(rel="stylesheet" type="text/css" href="/view/map/map.css")

block scripts
    script(src="/view/map/map.js")
