#browse-page {

    margin-top: 3.25rem;
    
    h1 {
        margin-top: 2em;
    }

    h2 {

        margin-bottom: 2em;
    }

    h4, h5 {
        margin: 3px;
        color: #79828b;
    }

    h4 {
        margin-top: 3em;
        font-weight: bold;
    }

    h5 {
        font-weight: normal;
    }

    .box:hover {
        cursor: pointer;
    }

    #markers-view {
        padding: 2em;
        h3 {
            text-align: left;
            font-weight: bold;
        }
    }

    #report-view {
        overflow-y: scroll;
    }

    .action-panel {
        margin: 2em;
        text-align: center;
    }

}