
$light-border: #f2f2f2;
$border: #c6c8cd;
$panel-shadow: 0 2px 10px rgba(#000000, 0.02), 0 0 0 1px rgba(#000000, 0.02);

#browse-page {


    h2 {

        margin-bottom: 2em;
    }

    h4, h5 {
        margin: 3px;
        color: #79828b;
    }

    .panel {
        margin-top: 3em
    }

    h5 {
        font-weight: normal;
    }

    .panel-block:hover {
        background: #FAFAFA;
        cursor: pointer;
    }

    .panel {
          .icon {
            border-radius: 4em;
            font-weight: bold;
            width: 4em;
            height: 4em;
            text-align: center;
            i {
                margin: auto;
            }
            margin-right: 1em;
            float: left
        }
    }

    #map-prompt {
        position: fixed;
        top: 3.25rem;
        width: 100%;
        height: 3.25rem;
        padding: 0.5em;
        border-bottom: 1px solid $light-border;
        box-shadow: $panel-shadow;
        background: #FFF;
       
        .field {
            margin: auto;
        }

        .button {
            padding: 0em 3em;
        }

    }

    #map-err {
        margin-top: 3.25rem;
        padding: 2em;
    }

    #map {
        position: fixed !important;
        top: 6.50rem;
        z-index: 1000;
        height: 100%;
        width: 100%;
    }

    #markers-view {
        padding: 1.5em;
        h3 {
            text-align: left;
            font-weight: bold;
        }
    }


}