---
id: "browse"
---

extends ../_layouts/_master.pug

block content

    // report view
    nav#report-view(v-if="show_report" v-cloak)
        h1 Help Us Map Your Region
        h2 Select A Category
        ul
            li(v-for="category in marker_categories")
                a(@click="handleMarkerCategory(category)") {{ category.title }}
        
        .action-panel
            .button(@click="handleToggleReportView") Cancel




    // map is empty by default - only certain pages will fill this region
    #map(v-if="show_map")

    // markers view
    #markers-view(v-if="show_markers")

        #button-bar
            #report-button.button(@click="handleToggleReportView") +
            #map-button.button(v-if="!show_map && prompt_for_map" @click="handleShowMap") Show Map


        #markers(v-cloak)
            p(v-if="loaded && !m_docs.length" ) There are no supply stations or vehicles reported yet. Please check back soon.

            ul(v-if="loaded && m_docs.length")
                li(v-bind:data-id="marker._id" v-for="marker in m_docs")
                    h4 {{ marker.title }}
                    h5 2km
                    .box(v-for="item in i_docs" v-if="item.parent == marker._id" @click="handleItemSelect(item, marker)" v-bind:data-id="item._id")
                        p Last Updated: {{ moment(moment(marker.updated_at)).short(true) }}



block styles
    link(rel="stylesheet" type="text/css" href="/lib/map.css")
    link(rel="stylesheet" type="text/css" href="/browse/browse.css")

block scripts
    script(src="/lib/map.js")
    script(src="/browse/browse.js")
