#browse-page {
    
    .page-content {
        margin: 1em;
        margin-top: 5em;
    }

    h1 {
        margin-top: 2em;
        margin-bottom: 2em;
    }

    h4, h5 {
        margin: 3px;
        color: #79828b;
    }

    h4 {
        margin-top: 3em;
        font-weight: bold;
    }

    h5 {
        font-weight: normal;
    }

    .box:hover {
        cursor: pointer;
    }

    #zones {
        h3 {
            text-align: left;
            font-weight: bold;
        }
    }


    .action-panel {
        margin: 2em;
        text-align: center;
    }

}