---
id: "browse"
---

extends ../_layouts/_master.pug

block content

    // report view
    nav#report-view(v-if="show_report" v-cloak)
        h1 Help Us Map Your Region
        ul
            li(v-for="tag in zone_tags")
                a(@click="handleZoneTag(tag)") {{ tag.title }}
        
        .action-panel
            .button(@click="handleToggleReportView") Cancel




    // map is empty by default - only certain pages will fill this region
    #map(v-if="show_map")

    // zones view
    #zones-view(v-if="show_zones")

        #button-bar
            #report-button.button(@click="handleToggleReportView") +
            #map-button.button(v-if="!show_map && prompt_for_map" @click="handleShowMap") Show Map


        #zones(v-cloak)
            p(v-if="loaded && !z_docs.length" ) There are no supply stations or vehicles reported yet. Please check back soon.

            ul(v-if="loaded && z_docs.length")
                li(v-bind:data-id="zone._id" v-for="zone in z_docs")
                    h4 {{ zone.title }}
                    h5 2km
                    .box(v-for="item in i_docs" v-if="item.parent == zone._id" @click="handleItemSelect(item, zone)" v-bind:data-id="item._id")
                        p Last Updated: {{ moment(moment(zone.updated_at)).short(true) }}



block styles
    link(rel="stylesheet" type="text/css" href="/lib/map.css")
    link(rel="stylesheet" type="text/css" href="/browse/browse.css")

block scripts
    script(src="/lib/map.js")
    script(src="/browse/browse.js")
