
$light-border: #f2f2f2;
$border: #c6c8cd;
$panel-shadow: 0 2px 10px rgba(#000000, 0.02), 0 0 0 1px rgba(#000000, 0.02);

#browse-page {


    h2 {

        margin-bottom: 2em;
    }

    h3, h4, h5 {
        margin: 3px;
        color: #79828b;
    }

    .panel {
        margin-top: 1.8em;
        margin-bottom: 2.2em
    }

    .distance {
        float: right;
        padding-top: 0.4em;
        font-size: small;
    }

    h3, h4, h5 {
        font-weight: normal;
    }

    .panel:hover .panel-heading, .panel:hover {
        cursor: pointer;
    }

    .panel-block {
        
        .icon {
            border-radius: 4em;
            font-weight: bold;
            width: 3.50em;
            height: 3.50em;
            text-align: center;
            i {
                margin: auto;
            }
            margin-right: 1em;
            float: left
        }

        overflow-x: hidden;

    }

    #map-prompt {
        position: fixed;
        top: 3.89rem;
        width: 100%;
        height: 3.50rem;
        padding: 0.5em;
        border-bottom: 1px solid $light-border;
        box-shadow: $panel-shadow;
        background: #FFF;
       
        .field {
            margin: auto;
        }

        .button {
            padding: 0em 3em;
        }

    }

    #map-err {
        padding: 2em;
    }

    #map {
        position: fixed !important;
        top: 7rem;
        z-index: 1000;
        height: 100%;
        width: 100%;
    }

    #venues-view {
        margin-top: 6em;
        padding: 1em;
        h3 {
            text-align: left;
        }
    }


}